.uspesnostVyrizeniObjednavky {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-areas:
        ". ikona textovePole .";
}

.ikona{
  grid-area: ikona;
  width: fit-content;
  height: 30px;
}
.obrazekIkona{
  height: 30px;
  padding: 0 10px;
}

.textovePole{
  font-family: 'Alegreya SC', serif;
  font-size: 16px;
  font-weight: 300;

  grid-area: textovePole;
  width: fit-content;
  display: flex;
  align-items: center;
}

.MezeraObjednavkaVyrizena {
    height:50px;

}